body {
    background-image: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Nunito", sans-serif;
    color: white;
    height: 85vh;
    
}
.container {
    background-color: rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 45px auto;
    padding: 20px;
    border-radius: 20px;
    border: solid 2px #ffff;
    text-align: right;
    margin-top: 80px;
}
.weather-forecast {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    justify-content: right;
    margin: 20px 20px 20px 280px;
    width: max-content;
}
.weather-forecast-day {
    margin-right: 7px;
    margin-left: 7px;
}
.weather-forecast-day:hover {
    background-color: white;
    border-radius: 10px;
    color: black;
}
.weather-forecast-date {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.weather-forecast-icon {
    font-size: 48px;
    text-align: center;
}
.weather-forecast-temperatures {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.weather-forecast-temperature {
    padding: 0 10px;
}
#further-info .country, .humidity, .wind, .coordinates, .feels {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
    
}
#further-info {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    max-width: 500px;
    display: block;
    margin: 20px 20px 20px 320px;
    padding: 10px;
}
footer {
    margin-right: 25px;
    font-size: 14px;
}
.weather-forecast-search {
    display: flex;
    margin: 10px 20px 20px 340px;
}
.weather-forecast-search-place {
    height: 40px;
    background-color: white;
    border-radius: 35px;
    width: 300px;
    padding-left: 20px;
    border-color: white;
}
.weather-forecast-search-btn {
    height: 40px;
    background-color: white;
    border-radius: 35px;
    width: 80px;
    padding: 10px;
    border-color: white;
    margin: 0 0 0 10px;
}
.secondcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    background-color: #000e1b;
    width: 380px;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    top: -570px;
    left: -320px;
    font-size: 33px;
}
#current-temperature, #current-city {
    font-size: 38px;
}